<h1> STUPID COACH </h2>

<h2>Ask your coach anything:</h2>
<%# para onde vai levar  %>
<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value = "ask">
</form>


<%= link_to 'leva para answer', answer_path %>